<div style="margin-top: 5%; margin-inline: 5%;">
    <h2 style="margin-bottom: 1%;">A huge world ( of Warcraft )</h2>
    <p>World of Warcraft (WoW) is a massively multiplayer online role-playing game (MMORPG) released in 2004 by Blizzard Entertainment. Set in the Warcraft fantasy universe, World of Warcraft takes place within the world of Azeroth, approximately four years after the events of the previous game in the series, Warcraft III: The Frozen Throne. The game was announced in 2001, and was released for the 10th anniversary of the Warcraft franchise on November 23, 2004. Since launch, World of Warcraft has had nine major expansion packs: The Burning Crusade (2007), Wrath of the Lich King (2008), Cataclysm (2010), Mists of Pandaria (2012), Warlords of Draenor (2014), Legion (2016), Battle for Azeroth (2018), Shadowlands (2020), and Dragonflight (2022).</p>
    <iframe width="560" height="315" 
        src="https://www.youtube.com/embed/Pj3MGAlcfyo" title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
    </iframe>

    <iframe style="margin-left: 10%;" width="560" height="315" 
        src="https://www.youtube.com/embed/BCr7y4SLhck" title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
    </iframe>

    <h2 style="margin-top: 5%;">Celebrity interviews on World of Warcraft</h2>
    <p style="margin-top: 1%;">Many prominent figures play World of Warcraft and some of them have shared their stories with the public, like Henry Cavill who almost lost his role as Superman due to being too occupied with World of Warcraft since he had "his priorities straight" as well as Mila Kunis' obsession on Wow while being interviewed on Hot Ones.</p>
    <iframe width="560" height="315" 
        src="https://www.youtube.com/embed/wmfFT2iORVg?start=88" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
    </iframe>
    <iframe style="margin-left: 10%;" width="560" height="315" 
        src="https://www.youtube.com/embed/NAeOzDhL6tc?start=989" title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
    </iframe>
</div>